/* General Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.h-100 {
	color: #fff;
}

.box {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	margin: 5px;
}

.home-container {
	padding: 30px;
	border-radius: 10px;
	color: #ddd;
}

/* Welcome Message and Button Styles */
.welcome-container {
	margin-top: 20px;
}

.welcome-message {
	font-size: 1.5rem;
	font-weight: bold;
	color: aliceblue;
	margin-bottom: 20px;
}

/* Login Button */
.login-button {
	background-color: #4285f4; /* Google blue */
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 12px 30px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
	background-color: #357ae8;
}

/* Logout Button */
.logout-button {
	background-color: #db4437; /* Google red */
	color: aliceblue;
	font-size: 1rem;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
	background-color: #c13524;
}

.chatroom-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
}

/* Left Division (Div 1) */
.left-div {
	width: 20%;
	background-color: #d0bdf4;
	height: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	color: #333348;
}

/* Right Division (Div 3) */
.right-div {
	font-size: small;
	width: 16.66%;
	color: #333348;
	background-color: lightblue;
	height: 100%;
	padding: 10px;
	text-align: center;
	border-radius: 8px;
}

/* Middle Divisions */
.middle-divs {
	width: 100%;
}
.middle-divs p {
	color: #d0bdf4;
}

/* Top Division (Div 2 - Top) */
.top-div {
	text-align: center;
	font-size: small;
}

/* Bottom Division (Div 2 - Bottom) */
.bottom-div {
	flex: 1;
	text-align: center;
}

.inline-labels {
	gap: 5px;
}

.inline-label {
	margin: 0;
}

.chatroom-filter-container {
	padding: 0px 10px;
	max-width: 100%;
	overflow-x: hidden;
}

/* Main Sections */
.chatroom-title {
	text-align: center;
	font-size: 1.8em;
	margin-bottom: 20px;
}
.chatrooms-section {
	padding: 1em;
	background-color: #f8f9fa;
	border-radius: 8px;
	margin-bottom: 5px;
}

/* Chatroom List Items */
.chatroom-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-size: 0.9em;
	margin-bottom: 5px;
}
.chatroom-details {
	flex-direction: row;
	gap: 4px;
}
.chatroom-action {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.5em;
	font-size: small;
}
.chatroom-planets {
	font-weight: bold;
	color: #333333;
}

.chatroom-sign-house,
.chatroom-member-count {
	color: #777777;
	font-size: 0.9em;
}

.chatroom-member-count {
	font-style: italic;
	color: #555555;
}
.chatroom-item.clickable {
	cursor: pointer;
	color: #000; /* active color */
}

.chatroom-item.non-clickable {
	cursor: not-allowed;
	color: #888; /* inactive color */
}

.leave-button,
.join-button {
	margin-top: 5px;
}

/* Available Chatrooms Container */
.joined-chatrooms ul {
	list-style-type: none;
	padding: 0;
}

.joined-chatrooms ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 8px;
}

/* Buttons */
.primary-button,
button {
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 5px 0;
}

button.primary-button:hover,
button:hover {
	background-color: #0056b3;
}
.discussion-box {
}

/* Discussion Styling */
.create-chatroom,
.filter-chatrooms,
.chatroom {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 6px;
}

.create-chatroom label,
.filter-chatrooms label,
.chatroom label {
	margin-bottom: 8px;
	width: 100%;
}

.discussion-title {
	font-size: 1.2em;

	color: #333;
}

.planets {
	font-size: small;
	color: darkblue;
}

.house-sign {
	font-size: small;
	color: #323232;
	margin-left: 10px;
}

.creator {
	font-size: smaller;
	color: #5a5a5a;
	margin-left: 10px;
}

.discussion-info {
	margin-top: 10px;
	font-size: small;
	color: #333;
	margin-left: 10px;
}

.discussion-type {
	font-style: italic;
	color: #777;
}

.discussion {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	font-size: small;
}
.discussion span {
	color: aliceblue;
}
.message {
	background-color: #cce7ff;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 5px;
	position: relative;
	color: #1e1e2f !important;
}
.message-author {
	font-weight: bold;
	color: #777;
	margin-bottom: 5px;
}

.message-content {
	font-size: 14px;
}

.message-likes {
	font-size: 12px;
	color: #b0b0b8;
	margin-top: 5px;
}

/* Messages Container */

.messages-container p {
	margin: 0px;
}

/* Author Name Styling */
.messages-container {
	border-radius: 8px;

	max-height: 400px;
	overflow-y: auto;
	margin-bottom: 15px;
}

/* Compact Message Content Styling */

/* Compact Reply Input Container */
.reply-input {
	display: flex;
	gap: 5px;
}

.reply-input input {
	padding: 4px;
	font-size: 0.9em;
	flex: 1;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.reply-input button {
	padding: 4px 8px;
	font-size: 0.8em;
}

.new-message-container {
	display: flex;
	align-items: center;
	width: 100%;
}

.new-message-input {
	flex: 1;
	padding: 6px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/* .new-message-container button {
	font-size: 0.9em;
	padding: 6px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.new-message-container button:hover {
	background-color: #003a75;
} */

/* Reply Nesting Style */
.replies {
	margin-left: 15px;
	border-left: 2px solid #cce7ff;
	padding-left: 8px;
}

.like-button,
.dislike-button,
.reply-button,
.send-button {
	border: none;

	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	font-size: small;
}

.like-button.active-like,
.dislike-button.active-dislike {
	background-color: slateblue;
	color: whitesmoke;
}
.like-button:hover,
.reply-button:hover,
.dislike-button:hover,
.reply-button:hover {
	background-color: #bb86fc;
	color: #1e1e2f;
}
.create-discussion {
	display: flex;
	gap: 10px; /* Adds consistent space between elements */
	align-items: center;
	margin-bottom: 16px; /* Space below the form */
	font-size: small;
}
.empty-message {
	text-align: center;
	color: aliceblue !important;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
	.box {
		flex-direction: column;
	}

	.left-div,
	.right-div,
	.middle-divs {
		width: 100%;
		margin-bottom: 10px;
	}
	.messages-container {
		max-height: 350px;
		padding: 8px;
	}

	.chatroom-grid {
		grid-template-columns: repeat(
			2,
			1fr
		); /* Reduce columns on smaller screens */
	}

	.create-chatroom label,
	.filter-chatrooms label,
	.chatroom label {
		font-size: 0.9em;
	}

	.new-message-input {
		font-size: 0.8em;
	}
	.create-discussion {
		display: grid;
		grid-template-columns: 1fr 1fr; /* 2 columns on smaller screens */
		gap: 8px;
	}
}

@media (max-width: 480px) {
	.chatroom-title {
		font-size: 1.4em;
	}

	.primary-button,
	button {
		font-size: 0.9em;
		padding: 4px 8px;
	}

	.chatroom-grid {
		grid-template-columns: 1fr; /* Single column on extra-small screens */
	}

	.messages-container {
		max-height: 300px;
		padding: 8px;
	}

	.message-content {
		font-size: 0.85em;
	}
	.create-chatroom,
	.filter-chatrooms,
	.chatroom {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
}
